# Connection Configuration To MySQL Database
spring:
  datasource:
    url: jdbc:mysql://awseb-e-242pmmkxwb-stack-awsebrdsdatabase-4v1jqdpdqkfb.cfwq6wmsu69u.ap-northeast-2.rds.amazonaws.com/board?useSSL=false&serverTimezone=Asia/Seoul
    username: fastcam
    password: fastcam1179
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true